{% if template contains "index" or template contains "collection" or template contains "product" %}
	
{% else %}
	<style>.breadcrumb-container{overflow:-moz-scrollbars-none;-ms-overflow-style:none;scrollbar-width:none}.breadcrumb-container::-webkit-scrollbar{width:0!important;height:0!important}@media screen and (max-width: 1023px){.breadcrumb{font-size:calc(12px / 16 * var(--base-body-size) + 0px)}}@media screen and (min-width: 1024px){.breadcrumb{font-size:calc(14px / 16 * var(--base-body-size) + 0px)}}.breadcrumb{display:flex;width:auto;margin:0;flex-shrink:0;line-height:1.1}.breadcrumb-main{position:relative;z-index:9;position:absolute;top:calc(clamp(2.5rem,var(--container-vertical-space),5rem)*-1);height:clamp(2.5rem,var(--container-vertical-space),5rem);width:100%}html[dir=rtl] .breadcrumb-main{right:0}html[dir=ltr] .breadcrumb-main{left:0}.breadcrumb-main:after,.breadcrumb-main:before{content:"";position:absolute;top:0;height:100%;background:var(--color-background-main)}.breadcrumb-main:after{right:0;width:calc(var(--gutter-regular) * 2);background:linear-gradient(-90deg,var(--color-background-main) 50%,var(--color-opacity-background-main) 100%)}.breadcrumb-main:before{left:-var(--gutter-regular);width:var(--gutter-regular);background:linear-gradient(90deg,var(--color-background-main) 50%,var(--color-opacity-background-main) 100%)}.breadcrumb-container{display:flex;align-items:center;justify-content:flex-start;overflow-x:auto;height:100%;width:100%;max-width:1360px;padding:0 var(--gutter-container);margin:auto}.breadcrumb span:not(:last-child){margin-inline-end:.6875rem}.breadcrumb span:last-child{margin-inline-end:var(--gutter-regular)}.breadcrumb__link a{border-bottom:none!important;transition:all .1s linear}.no-touchevents .breadcrumb__link a:hover{color:var(--color-accent-main)}</style>
{% endif %}
{%- if settings.show_breadcrumb and template != 'index' and template != blank and template != '404' -%}

	<div class="breadcrumb-main">
	
		<div class="breadcrumb-container">

			<link data-href="{{ 'component-breadcrumb.css' | asset_url }}" rel="stylesheet" type="text/css" media="all" />


			<nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">

				<span class="breadcrumb__link"><a href="{{ routes.root_url }}">{{ 'general.breadcrumb.homepage' | t }}</a></span>

				{%- if template contains 'search' -%}

					<span class="breadcrumb__separator">/</span>
					<span class="breadcrumb__current">{{ 'general.breadcrumb.search' | t: terms: search.terms }}</span>

				{%- else -%}
				
					{%- unless template contains 'product' -%}
						<span class="breadcrumb__separator">/</span>
						{%- if template contains 'collections' -%}
							<span class="breadcrumb__current">{{ 'general.breadcrumb.collections' | t }}</span>
						{%- elsif collection -%}
							<span class="breadcrumb__link"><a href="{{ routes.collections_url }}">{{ 'general.breadcrumb.collections' | t }}</a></span>
						{%- endif -%}
					{%- endunless -%}

					{%- if collection -%}

						<span class="breadcrumb__separator">/</span>
						{%- if template contains 'collection' -%}
							<span class="breadcrumb__current">{{ collection.title | escape }}</span>
						{%- else -%}
							<span class="breadcrumb__link">
								{%- liquid
									if collection.handle
										capture url
											echo routes.collections_url 
												echo '/'
											echo collection.handle
										endcapture
										echo collection.title | link_to: url
									endif
								-%}
							</span>
						{%- endif -%}
						
					{%- elsif product -%}

						<span class="breadcrumb__separator">/</span>
						<span class="breadcrumb__link"><a href="{{ routes.collections_url }}">{{ 'general.breadcrumb.collections' | t }}</a></span>

					{%- elsif blog or article -%}

						<span class="breadcrumb__link"><a href="{{ blog.url }}">{{ blog.title | escape }}</a></span>

						{%- if article -%}
							<span class="breadcrumb__separator">/</span>
							<span class="breadcrumb__current">{{ article.title | escape }}</span>
						{%- endif -%}

					{%- elsif template contains 'customers' -%}

						<span class="breadcrumb__current">{{ 'general.breadcrumb.account' | t }}</span>

					{%- elsif template contains 'cart' -%}

						<span class="breadcrumb__current">{{ 'general.breadcrumb.cart' | t }}</span>

					{%- else -%}	

						<span class="breadcrumb__current">{{ page.title | escape }}</span>

					{%- endif -%}

					{%- if product -%}

						<span class="breadcrumb__separator">/</span>
						<span class="breadcrumb__current">{{ product.title | escape }}</span>

					{%- endif -%}

				{%- endif -%}

			</nav>

		</div>

	</div>

{%- endif -%}