{% if template contains "index" or template contains "collection" or template contains "product" %}
	
{% else %}
	<style>.localization-form{display:flex;flex-direction:row;flex-wrap:wrap;margin-inline-end:-.625rem;padding:0 .3125rem}.localization-form ul{list-style:none}.localization-form ul li{margin-top:0!important}.localization-form__item{position:relative;margin:.125rem .625rem;font-size:calc(14px / 16 * var(--base-body-size) + 0px)}.localization-form__item-text{color:var(--color-text-main)}.localization-form__item-symbol{margin-inline-start:.3125rem}.localization-form__item-symbol path{fill:var(--color-text-main)}.localization-form__content{list-style:none;background-color:var(--color-background-main);position:absolute;top:-2px;height:auto;border:1px solid var(--color-borders-main);color:var(--color-text-main);margin:0;display:none;width:max-content;min-width:11.25rem;left:0px;max-height:22.5rem;overflow-y:auto}.localization-form__content-item button{background-color:var(--color-background-main);display:block;padding:.4375rem .75rem;color:var(--color-text-main);text-align:start;width:100%;cursor:pointer;text-transform:capitalize;transition:all .1s linear}.localization-form__content-item.localization-form__content-item--selected button{font-weight:var(--font-weight-body-bold);background-color:var(--color-secondary-background-main)}.no-touchevents .localization-form__content-item:hover:not(.localization-form__content-item--selected) button{background-color:var(--color-third-background-main)}.localization-form__content.content-opened{display:block;top:100%}.localization-form__content.content-opened.invert-y{display:block;top:auto;bottom:calc(100% + .75rem);position:absolute}html[dir=rtl] .localization-form__content.content-opened.invert-x{left:-.75rem}html[dir=ltr] .localization-form__content.content-opened.invert-x{right:-.75rem}html[dir=rtl] .localization-form__content.content-opened.invert-x{right:auto}html[dir=ltr] .localization-form__content.content-opened.invert-x{left:auto}.localization-form__item-text .localization-form__country{display:none}</style>
{% endif %}
{%- liquid 
  if show_country_selector and localization.available_countries.size > 1
    assign country_selector = true
  endif

  if show_locale_selector and localization.available_languages.size > 1
    assign locale_selector = true
  endif
-%}

{%- if country_selector or locale_selector -%}

  <link data-href="{{ 'component-localization-form.css' | asset_url }}" rel="stylesheet" type="text/css" media="all" />
  
  {%- assign formId = 'localization_form-' | append: location -%}
  {%- form 'localization', id: formId, class: 'localization-form' -%}

    {%- if locale_selector -%}
      <localization-form class="localization-form__item">

        <span class="visually-hidden" id="lang-heading-{{ location }}">{{ 'general.accessibility_labels.language_dropdown_label' | t }}</span>

        <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}" />

        <button class="localization-form__item-button" data-js-localization-form-button aria-expanded="false" aria-controls="lang-list-{{ location }}" data-location="{{ location }}">
          <span class="localization-form__item-text">
            {{ localization.language.endonym_name | capitalize }}
          </span>
          <span class="localization-form__item-symbol" aria-role="img" aria-hidden="true">{%- render 'theme-symbols', icon: 'chevron' -%}</span>
        </button>

        <ul id="lang-list-{{ location }}" class="localization-form__content" data-js-localization-form-content>
          {%- for language in localization.available_languages -%}
            <li class="localization-form__content-item {% if language.iso_code == localization.language.iso_code %}localization-form__content-item--selected{% endif %}" data-js-localization-form-item>
              <button type="submit" name="locale_code" lang="{{ language.iso_code }}" value="{{ language.iso_code }}" {% if language.iso_code == localization.language.iso_code %}aria-current="true"{% endif %}>{{ language.endonym_name | capitalize }}</button>
            </li>
          {%- endfor -%}
        </ul>

      </localization-form>
    {%- endif -%} 

    {%- if country_selector -%}
      <localization-form class="localization-form__item">

        <span class="visually-hidden" id="currency-heading-{{ location }}">{{ 'general.accessibility_labels.country_dropdown_label' | t }}</span>

        <input type="hidden" name="country_code" id="CurrencySelector-{{ location }}" value="{{ localization.country.iso_code }}" />

        <button class="localization-form__item-button" data-js-localization-form-button aria-expanded="false" aria-controls="country-list-{{ location }}" data-location="{{ location }}">
          <span class="localization-form__item-text">
            <span class="localization-form__country">{{ localization.country.name }}</span>
            <span class="localization-form__currency">({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})</span>
          </span>
          <span class="localization-form__item-symbol" aria-role="img" aria-hidden="true">{%- render 'theme-symbols', icon: 'chevron' -%}</span>
        </button>

        <ul id="country-list-{{ location }}" class="localization-form__content" data-js-localization-form-content data-js-localization-form-insert-helper-content>
        </ul>

      </localization-form>
    {%- endif -%}

  {%- endform -%}
  
  <script src="{{ 'component-localization-form.js' | asset_url }}" defer></script>

{%- endif -%}