{% if template contains "index" or template contains "collection" or template contains "product" %}
	
{% else %}
	<style>.pagination a{display:inline-block;line-height:1;color:var(--color-text-main);border:solid 1px transparent;border-radius:50%;width:40px;height:40px;line-height:38px;transition:ease .25s background-color,ease .25s border-color,ease .25s color}.no-touchevents .pagination a:hover,.pagination .no-touchevents a:hover{border-color:var(--color-text-main)}.pagination li.active{background-color:var(--color-text-main);color:var(--color-foreground-main);line-height:1;border:solid 1px var(--color-borders-main);border-radius:50%;width:40px;height:40px;line-height:38px;cursor:default}.pagination{padding-top:var(--gutter-large);text-align:start}@media screen and (max-width: 767px){.pagination{text-align:center}}.pagination li{margin:0 .3125rem;text-align:center}.pagination li:not(.hide){display:inline-block}.pagination li.prev,.pagination li.next{background-position:center center;color:transparent!important}.pagination li.prev svg path,.pagination li.next svg path{fill:var(--color-text-main)}.pagination li.prev a,.pagination li.next a{border-color:var(--color-borders-main)}.no-touchevents .pagination li.prev a:hover,.no-touchevents .pagination li.next a:hover{background-color:var(--color-text-main);border-color:var(--color-text-main)}.no-touchevents .pagination li.prev a:hover svg path,.no-touchevents .pagination li.next a:hover svg path{fill:var(--color-foreground-main)}.pagination li.prev{transform:rotate(90deg)}.pagination li.next{transform:rotate(-90deg)}.pagination li.mobile{display:none;margin:0 .75rem}@media screen and (max-width: 767px){.pagination li.mobile{display:inline-block}}.pagination li.disabled{color:var(--color-secondary-text-main);display:inline-block;padding:.625rem .9375rem;border:solid 1px transparent}</style>
{% endif %}
{%- if paginate.pages > 1 -%}

  <link data-href="{{ 'component-pagination.css' | asset_url }}" rel="stylesheet" type="text/css" media="all" />

  <nav role="navigation">
    <ul class="pagination">
      {%- if paginate.previous -%}
        <li class="prev">
          <a href="{{ paginate.previous.url }}">
            <span class="visually-hidden">{{ 'general.accessibility_labels.previous' | t }}</span>
            <span aria-hidden="true">{%- render 'theme-symbols', icon: 'chevron' -%}</span>
          </a>
        </li>
      {%- else -%}
        <li class="prev disabled">
          <span class="visually-hidden">{{ 'general.accessibility_labels.previous' | t }}</span>
          <span aria-hidden="true">{%- render 'theme-symbols', icon: 'chevron' -%}</span>
        </li>
      {%- endif -%}

      {%- for part in paginate.parts -%}
        {%- if part.is_link -%}
          <li class="lap-hide">
            <a href="{{ part.url }}">
              <span class="visually-hidden">page</span> {{ part.title }}
            </a>
          </li>
        {%- else -%}
          {%- if part.title == paginate.current_page -%}
            <li class="lap-hide active" aria-current="page">
              <span class="visually-hidden">page</span> {{ part.title }}
            </li>
          {%- else -%}
            <li class="lap-hide">
              <span class="visually-hidden">page</span> {{ part.title }}
            </li>
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}

      <li class="mobile"><div
        {% unless paginate.next %}
          style="margin-inline-end:-12px"
        {% endunless %}
        {% unless paginate.previous %}
          style="margin-inline-start:-12px"
        {% endunless %}
      >
        {{ paginate.current_page }} / {{ paginate.pages }}</div>
      </li>

      {%- if paginate.next -%}
        <li class="next">
          <a href="{{ paginate.next.url }}">
            <span class="visually-hidden">{{ 'general.accessibility_labels.next' | t }}</span>
            <span aria-hidden="true">{%- render 'theme-symbols', icon: 'chevron' -%}</span>
          </a>
        </li>
      {%- else -%}
        <li class="next disabled">
          <span class="visually-hidden">{{ 'general.accessibility_labels.next' | t }}</span>
          <span aria-hidden="true">{%- render 'theme-symbols', icon: 'chevron' -%}</span>
        </li>
      {%- endif -%}
    </ul>
  </nav>
  
{%- endif -%}