{% if template contains "index" or template contains "collection" or template contains "product" %}
	
{% else %}
	<style>#zoom,.product-gallery__thumbnails-holder{overflow:-moz-scrollbars-none;-ms-overflow-style:none;scrollbar-width:none}#zoom::-webkit-scrollbar,.product-gallery__thumbnails-holder::-webkit-scrollbar{width:0!important;height:0!important}.product-gallery-item model-viewer,.product-gallery-item__media>*{position:absolute;top:0;width:100%;height:100%}html[dir=rtl] .product-gallery-item model-viewer,.product-gallery-item html[dir=rtl] model-viewer,html[dir=rtl] .product-gallery-item__media>*{right:0}html[dir=ltr] .product-gallery-item model-viewer,.product-gallery-item html[dir=ltr] model-viewer,html[dir=ltr] .product-gallery-item__media>*{left:0}@media screen and (min-width: 768px){.main-product .product-gallery,.main-product .product-text{position:sticky;top:1.25rem}}.button--product,.shopify-payment-button__button{height:var(--button-product);padding:0 1.875rem}@media screen and (max-width: 1023px){.button--product,.shopify-payment-button__button{font-size:calc(18px / 16 * var(--base-body-size) + 0px)}}@media screen and (min-width: 1024px){.button--product,.shopify-payment-button__button{font-size:calc(20px / 16 * var(--base-body-size) + 0px)}}.shopify-payment-button__button--branded{padding-inline-start:0px!important;padding-inline-end:0!important;border-radius:var(--border-radius-buttons)!important;border:none!important;overflow:hidden}.shopify-payment-button__button--branded div[role=button]{padding-inline-start:1.5rem!important;padding-inline-end:1.5rem!important}.shopify-payment-button__button--hidden,.unavailable-variant .shopify-payment-button{display:none}.product-gallery-item{position:relative;overflow:hidden;width:100%}.product-gallery-item img{border-radius:var(--border-radius-cards)}.product-gallery-item__media{height:0;width:100%;position:relative}.product-gallery-item model-viewer{border-radius:var(--border-radius-cards)}.product-gallery-item .shopify-model-viewer-ui{width:100%;height:100%}.product-gallery-item .shopify-model-viewer-ui__controls-overlay{opacity:0}button[data-shopify-xr-hidden]{display:none}.shopify-model-viewer-ui .shopify-model-viewer-ui__button--poster{border-radius:var(--border-radius-buttons)!important;border:none!important}@media screen and (max-width: 1023px){.product-gallery--scroll css-slider:after{content:"css-slide";position:absolute;visibility:hidden}}.product-gallery__thumbnails{padding-top:.5625rem;z-index:9}.product-gallery__thumbnails-holder{display:flex;flex-direction:row;margin:0;padding:0;overflow:auto;scroll-behavior:smooth}.product-gallery__thumbnails .thumbnail{width:5.25rem!important;height:5.25rem;opacity:.66;flex-shrink:0;transition:all .1s linear;position:relative;scroll-snap-align:start;cursor:pointer;overflow:hidden;border:2px solid transparent}.no-touchevents .product-gallery__thumbnails .thumbnail:hover{opacity:1;border-color:var(--color-secondary-background-main)}.product-gallery__thumbnails .thumbnail.active{opacity:1;border-color:var(--color-borders-main)!important}.product-gallery__thumbnails .thumbnail:not(:last-child){margin-inline-end:.5625rem}.product-gallery__thumbnails .thumbnail__badge{position:absolute;top:.125rem;width:1.25rem;height:1.25rem;opacity:1;transition:opacity 50ms linear;z-index:9}html[dir=rtl] .product-gallery__thumbnails .thumbnail__badge{left:.125rem}html[dir=ltr] .product-gallery__thumbnails .thumbnail__badge{right:.125rem}.product-gallery__thumbnails .thumbnail__badge svg{width:100%;height:100%}.product-gallery__thumbnails .thumbnail__badge svg .bg{fill:var(--color-background-main)}.product-gallery__thumbnails .thumbnail__badge svg .path{fill:var(--color-text-main)}.product-gallery__thumbnails .thumbnail__badge svg .stroke{stroke:var(--color-text-main)}.product-gallery__view-in-space{margin:1.5rem auto 0}.product-text .product-price--original{font-weight:var(--font-weight-body-bold)}.product-text .product-price--compare{margin-inline-start:1.25rem}.product-text .product-price--unit{display:block}.product-text>*{display:block}.product-text>*:not(:last-child){margin-bottom:1.25rem}.product-text>.toggle{margin-bottom:1.25rem!important}.product-text>.toggle:not(.toggle--table)+.toggle:not(.toggle--table){margin-top:-1.25rem!important}.product-text .empty-space{height:0;margin-bottom:1.25rem}.product-text .star-rating{height:1.75rem}.product-text pickup-availability-compact .alert{margin-bottom:0}.product-text button:not(.button){color:inherit}.product-variant:not(:first-child){margin-top:1.25rem}.product-variant__name{font-weight:var(--font-weight-body-bold);display:block}.product-variants--select .product-variant__name{margin-bottom:.625rem}.product-variant__quantity:not(:empty){margin-top:.875rem;display:block}.product-variants--radio .product-variant__item{position:relative;display:inline-block;margin:0;margin-top:.9375rem;margin-inline-end:.9375rem}.product-variants--radio .product-variant__item label{text-align:center;display:inline-block;border-style:solid;border-width:1px;border-radius:var(--border-radius-buttons);border-color:var(--color-borders-forms-primary);color:var(--color-text-main);padding:var(--input-padding) 1.25rem;transition:all .1s linear}.product-variants--radio .product-variant__item input{position:absolute;top:0;width:100%;height:100%;border:none;background:transparent;opacity:0;cursor:pointer}html[dir=rtl] .product-variants--radio .product-variant__item input{right:0}html[dir=ltr] .product-variants--radio .product-variant__item input{left:0}.product-variants--radio .product-variant__item input:before{display:none}.product-variants--radio .product-variant__item input.disabled+label{opacity:.22;text-decoration:line-through}.product-variants--radio .product-variant__item input:checked+label{font-weight:var(--font-weight-body-bold);border-color:var(--color-text-main)!important;box-shadow:0 0 0 1px var(--color-text-main)}.no-touchevents .product-variants--radio .product-variant__item input:hover+label{border-color:var(--color-borders-forms-secondary)}.product-variants--radio .product-variant__item input:focus-visible+label{box-shadow:0 0 0 3px var(--color-secondary-background-main)}.product-actions .product-price{display:flex;align-items:center;flex-wrap:wrap}.product-actions .product-price--original+.product-price--unit{margin-inline-start:1.25rem}.product-actions .product-price--compare{text-decoration:none;opacity:1;display:inline-flex;flex-direction:column;line-height:1.25;margin-inline-end:auto}.product-actions .product-price--compare>span:first-child{text-decoration:line-through}.product-actions .product-price--compare>span:last-child{opacity:.36;font-size:90%}.product-form{border-top:1px solid var(--color-borders-main);display:block;margin-top:.5rem;margin-bottom:1.25rem;width:100%;overflow:visible}.product-form .flex-buttons{width:calc(100% + 1rem);margin-inline-start:-.5rem}.product-form .flex-buttons>*{margin:1rem .5rem 0}.product-quantity{display:flex;justify-content:space-between;min-width:calc(var(--button-product) * 3)}.product-quantity__minus,.product-quantity__plus{width:var(--button-product);height:var(--button-product);border-width:var(--border-width-buttons);border-radius:var(--border-radius-buttons);border-style:solid;border-color:var(--color-text-main);display:inline-flex;align-items:center;justify-content:center}.product-quantity__minus svg,.product-quantity__plus svg{width:1.1875rem;height:1.1875rem}.product-quantity__minus svg *,.product-quantity__plus svg *{fill:var(--color-text-main)}.no-touchevents .product-quantity__minus:hover,.product-quantity__minus:focus-visible,.no-touchevents .product-quantity__plus:hover,.product-quantity__plus:focus-visible{box-shadow:0 0 0 3px var(--color-secondary-background-main)}.product-quantity__selector{width:var(--button-product);height:var(--button-product);border:none;background-color:transparent;padding:0;text-align:center}.add-to-cart{flex-grow:10}.add-to-cart.disabled{pointer-events:none;opacity:.36}.add-to-cart.disabled+.shopify-payment-button{pointer-events:none;opacity:.36}.product__sku-barcode span{display:block}.shopify-payment-button__button{border-style:solid;border-radius:var(--border-radius-buttons);border-width:var(--border-width-buttons);color:var(--color-text-main);font-weight:var(--font-weight-buttons);transition:all .1s linear;background-color:transparent}.shopify-payment-button__button:hover:not([disabled]){background-color:var(--color-accent-main);border-color:var(--color-accent-main);color:var(--color-foreground-accent-main)}.shopify-payment-button__more-options{font-size:12px;margin-top:.5rem}.pickup-availability-widget{display:block;border:1px solid var(--color-borders-main);overflow:hidden}.pickup-availability-widget__header{background:var(--color-secondary-background-main);padding:var(--gutter-small);display:flex;align-items:center}.pickup-availability-widget__header .alert:before{top:.1875rem}.pickup-availability-widget__header svg{margin-inline-end:.9375rem}.pickup-availability-widget__header svg path{fill:var(--color-text-main);stroke:none}.pickup-availability-widget__locations{border-top:1px solid var(--color-borders-main)}.pickup-availability-widget__location{display:flex;flex-direction:row;flex-wrap:wrap;align-content:center;justify-content:space-between;padding:var(--gutter-small)}.pickup-availability-widget__location:not(:first-child){border-top:1px solid var(--color-borders-main)}.pickup-availability-widget__location-icon{margin-inline-end:.75rem;position:relative;top:.3125rem}.pickup-availability-widget__location-icon svg{width:1.5rem;height:1.5rem}.pickup-availability-widget__location-icon *{stroke:var(--color-text-main)}.pickup-availability-widget__location-address{flex:1}.pickup-availability-widget__location-address svg *{fill:var(--color-text-main)}.pickup-availability-widget__location-view{display:block}.pickup-availability-widget__location-view[aria-selected=true] .text-animation--underline-thin{background-size:100% 1px}.pickup-availability-widget__location-view[aria-selected=true] rect{display:none}.pickup-availability-widget__location-details{display:block;width:100%;flex-shrink:0;border-top:1px solid var(--color-third-background-main);padding-top:.875rem;padding-inline-start:2.25rem;margin-top:1.125rem;display:none}.pickup-availability-widget__location-details.opened{display:block}.pickup-availability-widget__more{width:100%;text-align:start;padding:var(--gutter-small);border-top:1px solid var(--color-borders-main)}.pickup-availability-widget__more span{border-bottom:1px solid;transition:all .1s linear}.no-touchevents .pickup-availability-widget__more:hover{color:var(--color-accent-main)}.store-availability-list__item{margin-bottom:1.875rem;padding-bottom:1.875rem;border-bottom:1px solid var(--color-secondary-background-main)}.store-availability-list__stock:before{top:.1875rem}.store-availability-list__pickup-time{margin-top:.25rem;display:block}.store-availability-list__address,.store-availability-list__phone{margin-inline-start:1.375rem;margin-top:.75rem}.store-availability-list__address a,.store-availability-list__phone a{border-bottom:1px solid}.product-related-title{margin-bottom:1.5625rem;display:block}.product-related-item{display:flex;align-items:center}.product-related-item:not(:last-child){padding-bottom:1.125rem;margin-bottom:1.125rem;border-bottom:1px solid var(--color-borders-main)}.cart-block__item--spacing .product-related-item{padding:var(--gutter-regular);margin-bottom:0}.product-related-item__title{line-height:1.1;display:block}.product-related-item__image{flex-shrink:0;width:90px;align-self:flex-start;margin-inline-end:1.125rem;border-color:var(--color-borders-main);overflow:hidden}.product-related-item__image img{transition:all .2s linear;transform:scale(1) translateZ(0)}.no-touchevents .product-related-item__image:hover img{transform:scale(1.05) translateZ(0)}.product-related-item__text{flex-grow:1}.product-related-item__price{color:var(--color-secondary-text-main);display:block}.product-related-item__price .product-price--original{font-weight:var(--font-weight-body)}.product-related-item__price .product-price--compare{margin-inline-start:.625rem}.product-related-item__price .product-price--unit{display:block;margin-top:-.3125rem;font-size:90%}.product-related-item__button{flex-shrink:0;margin-inline-start:.75rem}.product-gallery-item__zoom{position:absolute;top:.9375rem;width:2.125rem;height:2.125rem;padding:.3125rem;z-index:99;cursor:pointer;opacity:0;transition:all .1s linear .1s;transform:translateZ(0)}html[dir=rtl] .product-gallery-item__zoom{left:.9375rem}html[dir=ltr] .product-gallery-item__zoom{right:.9375rem}.lazyloaded~.product-gallery-item__zoom{opacity:1}.product-gallery-item__zoom svg path,.product-gallery-item__zoom svg rect{fill:var(--color-text-main)}.product-gallery-item__zoom svg circle{stroke:var(--color-text-main)}.no-touchevents .product-gallery-item__zoom:hover svg{transform:scale(1.05)}#zoom{position:fixed;top:0;width:100vw;height:100vh;overflow:scroll;visibility:hidden;opacity:0;z-index:-1;-webkit-overflow-scrolling:touch;background:var(--main-background);transition:all .2s linear}html[dir=rtl] #zoom{right:0}html[dir=ltr] #zoom{left:0}#zoom.opened{visibility:visible;opacity:1;z-index:99999}#zoom img{opacity:0;max-width:none;position:absolute;top:0;z-index:7;transition:opacity .1s linear}html[dir=rtl] #zoom img{right:0}html[dir=ltr] #zoom img{left:0}.touchevents #zoom img{top:0!important;left:0!important}#zoom.loaded img{opacity:1}#zoom.loaded:after{opacity:0}#zoom.loaded .zoom__loader{display:none}.zoom__overlay{position:absolute;top:0;width:100%;height:100%;background:var(--color-background-main);z-index:6}html[dir=rtl] .zoom__overlay{right:0}html[dir=ltr] .zoom__overlay{left:0}.zoom__exit{z-index:9;position:fixed;width:3rem;height:3rem;border-radius:var(--border-radius-buttons);background:var(--color-background-main);top:1.5625rem;display:flex;align-items:center;justify-content:center;cursor:pointer}html[dir=rtl] .zoom__exit{left:1.5625rem}html[dir=ltr] .zoom__exit{right:1.5625rem}.zoom__exit svg path,.zoom__exit svg rect{fill:var(--color-text-main)}.zoom__exit svg circle{stroke:var(--color-text-main)}.no-touchevents .zoom__exit:hover svg{transform:scale(1.05)}.zoom__loader{position:absolute;margin:0;width:20px;height:20px;transform:translate3d(-50%,-50%,0);top:50%;left:50%;display:block;z-index:9}.zoom__loader-element{animation:rotate 2s linear infinite;height:100%;transform-origin:center center;width:100%;position:absolute;top:0;margin:auto}html[dir=rtl] .zoom__loader-element{right:0}html[dir=ltr] .zoom__loader-element{left:0}.zoom__loader-element circle{stroke-dasharray:150,200;stroke-dashoffset:-10;animation:dash 1.5s ease-in-out infinite;stroke-linecap:round;stroke:var(--color-text-main)}.product-icons-list-container{display:flex;flex-wrap:wrap;gap:.625rem 0}.star-rating{font-size:0;width:100%;height:1rem;display:grid;grid-template-columns:max-content auto;align-items:center;gap:.625rem}.star-rating__stars{background-repeat:repeat-x;font-size:0;display:inline-block;text-align:left}html[dir=rtl] .star-rating__stars{transform:scaleX(-1)}.star-rating__stars-active{display:inline-block;font-size:0;height:.875rem;background-repeat:repeat-x}@media screen and (max-width: 767px){.product-quick-view__header{position:fixed;background:var(--color-background-main);border-bottom:1px solid var(--color-borders-main);top:0;right:0;width:100%;height:3.75rem;z-index:99}.product-quick-view__product{padding-top:3.75rem}}.product-quick-view__close{position:absolute;top:calc(var(--gutter-large) * .75)}html[dir=rtl] .product-quick-view__close{left:calc(var(--gutter-large) * .75)}html[dir=ltr] .product-quick-view__close{right:calc(var(--gutter-large) * .75)}.product-quick-view__close svg path{stroke:var(--color-text-main)}.product-quick-view__title{position:absolute;top:calc(var(--gutter-large) * .75);left:calc(var(--gutter-large) * .75)}</style>
{% endif %}
{%- liquid
  assign product = all_products[section.settings.product]
  assign current_variant = product.selected_or_first_available_variant
-%}

<link data-href="{{ 'section-main-product.css' | asset_url }}" rel="stylesheet" type="text/css" media="all" />

<product-page 
  id="product-{{ section.id }}" 
  class="container container--large container--vertical-space-small grid grid--layout grid--gap-xlarge grid-2 grid-lap-1 grid--no-stretch product" 
  data-collection="{{ collection.handle }}" data-id="{{ product.id }}" 
  data-availability="{{ product.available }}" 
>

  {%- assign current_variant = product.selected_or_first_available_variant -%}

  <div class="product-gallery product-gallery--slider" data-js-product-gallery>

    {% style %}
      #product-{{ section.id }} .product-gallery-item .lazy-image img {
        padding: {{ section.settings.gallery_padding }}% !important;
      }
    {% endstyle %}

    {%- if product.media.size > 1 -%}
      <css-slider data-options='{
        "selector": ".product-gallery-item",
        "autoHeight": true,
        {%- if section.settings.gallery_pagination == 'thumbnails' -%} 
          "thumbnails": false, 
          "navigation": false,
        {%- else -%}
          "indexNav": true,
          "navigationDOM": "<span class=\"css-slider-button css-slider-prev\" style=\"display:none\"><svg fill=\"none\" height=\"13\" viewBox=\"0 0 8 13\" width=\"8\" xmlns=\"http://www.w3.org/2000/svg\"><g fill=\"#000\" ><path d=\"m7.91419 1.41431-6.48529 6.48528-1.4142102-1.41422 6.4852802-6.48527702z\"/><path d=\"m6.48528 12.9849-6.48528027-6.48532 1.41421027-1.41421 6.48528 6.48523z\"/></g></svg></span><span class=\"css-slider-button css-slider-next\" style=\"display:none\"><svg width=\"9\" height=\"13\" viewBox=\"0 0 9 13\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M0.914169 11.5857L7.39945 5.10041L8.81367 6.51463L2.32838 12.9999L0.914169 11.5857Z\" fill=\"black\"/><path d=\"M2.34307 0.0151367L8.82835 6.50042L7.41414 7.91463L0.928857 1.42935L2.34307 0.0151367Z\" fill=\"black\"/></svg></span>",
        {%- endif -%}
        "listenScroll": true
      }'
        class="css-slider--bottom-navigation element--border-radius" 
        id="css-slider-{{ section.id }}"
      >
      {%- render 'custom-shadow', section_id: section.id -%} 
      {%- if settings.shadow_cards_x != 0 -%}
        {% style %}
          #css-slider-{{ section.id }} .css-slider-holder .css-slide {
            width: calc(100% - {{ settings.shadow_cards_x | abs }}px - {{ settings.shadow_cards_blur }}px);
          }
        {% endstyle %}
      {%- endif -%}
      {%- if settings.shadow_cards_y != 0 -%}
        {% style %}
          #css-slider-{{ section.id }} .css-slider-viewport  {
            padding-bottom: calc({{ settings.shadow_cards_y | abs }}px + {{ settings.shadow_cards_blur }}px);
            box-sizing: content-box;
          }
        {% endstyle %}
      {%- endif -%}
    {%- endif -%}

      <div class="grid grid--slider grid-1 grid--gap-small">

        {%- if product.media.size == 0 -%} 
          <div class="product-gallery-item" style="padding-top: 100%">
            {%- render 'lazy-svg', image: 'product-1', ratio: 1, class: 'svg-placeholder svg-placeholder--background' %}
          </div>
        {%- else -%}
          {%- liquid
            for media in product.media
              render 'product-media', media: media, aspect_ratio: section.settings.gallery_ratio, fit: section.settings.gallery_fit, enable_zoom: section.settings.enable_zoom, loop: section.settings.enable_video_looping, index: forloop.index0
              if media.media_type == "external_video" or media.media_type == "video"
                assign video_script = true 
              endif
            endfor
          -%}
        {%- endif -%}

      </div>

    {%- if product.media.size > 1 -%} </css-slider> {%- endif -%}

    {%- if section.settings.gallery_pagination == 'thumbnails' and section.blocks.size > 1 -%}

      <div class="product-gallery__thumbnails {% if section.settings.gallery_style == 'scroll' %} hide portable-show {% endif %}" aria-hidden="true">
        <div class="product-gallery__thumbnails-holder">
          {%- for media in product.media -%}
            <button class="thumbnail element--border-radius" data-index="{{ forloop.index0 }}" {% if section.settings.gallery_pagination == 'thumbnails' %} tabindex="0" {% endif %}>

              {% if section.settings.gallery_pagination == 'thumbnails' %}
                <figure class="thumbnail__image lazy-image element--border-radius" data-ratio style="padding-top: 100%">
                  <img 
                    src="{{ media.preview_image | image_url: width: 80, height: 80, crop: 'center' }}" alt="{{ media.alt | escape }}"
                    srcset="{{ media.preview_image | image_url: width: 80, height: 80, crop: 'center' }} 80w, {{ media.preview_image | image_url: width: 160, height: 160, crop: 'center' }} 160w, {{ media.preview_image | image_url: width: 240, height: 240, crop: 'center' }} 240w"
                    loading="lazy"
                    sizes="80px"
                    width="80" height="80"
		                onload="this.parentNode.classList.add('lazyloaded')"
                  />
                  {% if media.media_type == 'video' or media.media_type == 'external_video' %}
                    <span class="thumbnail__badge">{% render 'theme-symbols', icon: 'badge-video-thumbnail' %}</span>
                  {% elsif media.media_type == 'model' %}
                    <span class="thumbnail__badge">{% render 'theme-symbols', icon: 'badge-model-thumbnail' %}</span>
                  {% endif %}
                </figure>
              {%- endif -%}

            </button>
          {%- endfor -%}
        </div>
      </div>

    {%- endif -%}

    {%- assign first_3d_model = product.media | where: "media_type", "model" | first -%}

    {%- if first_3d_model -%}
      <div class="fullwidth text-align--center">
        <button
          title="{{ 'products.page.view_in_space_label' | t }}"
          class="button button--small button--icon button--outline product-gallery__view-in-space"
          data-shopify-xr
          data-shopify-first-model3d-id="{{ first_3d_model.id }}"
          data-shopify-model3d-id="{{ first_3d_model.id }}"
          data-shopify-title="{{ product.title | escape }}"
          data-shopify-xr-hidden
        >
          <span aria-hidden="true" class="button__icon">{%- render 'theme-symbols', icon: 'model-button' -%}</span>
          <span class='product-gallery__view-in-space-text'>{{ 'products.page.view_in_space' | t }}</span>
        </button>

        <link id="ModelViewerStyle" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print" onload="this.media='all'">
        <script src="{{ 'component-product-model.js' | asset_url }}" defer></script>

      </div>
      
    {%- endif -%}

  </div>

	<div class="product-text remove-empty-space">

    {%- assign product_form_id = 'product-form-' | append: section.id -%}

    {%- for block in section.blocks -%}
      {%- case block.type -%}

        {%- when '@app' -%}
          {%- render block -%} 

        {%- when 'vendor' -%} 
          <span 
            class="product__subtitle {{ block.settings.text_size }}"
            {{ block.shopify_attributes }}
          >
            <a href="{{ product.vendor | url_for_vendor }}"><span class="text-animation--underline-thin">{{ product.vendor | escape }}</span></a>
          </span>

        {%- when 'space' -%}
          <div class="empty-space" {{ block.shopify_attributes }}>&nbsp;</div>
          
        {%- when 'product_link' -%}
          {%- unless product == blank -%}
            <a href="{{ product.url }}" style="margin-top: 2em" class="button button--regular button--outline button--fullwidth">{{ 'products.featured_product.view_product_details' | t }}</a>
          {%- endunless -%}

        {%- when 'text' -%} 
          <span 
            class="product__subtitle {{ block.settings.text_size }}"
            style="
              {% if block.settings.text_color != 'rgba(0,0,0,0)' %} color: {{ block.settings.text_color }}; {% endif %}
              {% if block.settings.text_transform %} text-transform: uppercase {% endif %}
            " 
            {{ block.shopify_attributes }}
          >
            {{ block.settings.text }}
          </span>

        {%- when 'title' -%}
          <{{ block.settings.seo_h_tag }} class="product__title h2" {{ block.shopify_attributes }}>
            {%- liquid
              unless product == blank 
                echo product.title | escape
              else 
                echo 'general.onboarding.product_title' | t
              endunless
            -%}
          </{{ block.settings.seo_h_tag }}>

        {%- when 'price' -%}

          <div class="text-size--xlarge" {{ block.shopify_attributes }} data-js-product-price-compact>
            {%- liquid
              unless product == blank
                render 'product-price', variant: current_variant, target: current_variant
              else  
                echo '9999' | money
              endunless
            %}
          </div>

        {%- when 'tax_info' -%}

          {%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
            <div class="product-policies text-size--small" data-product-policies {{ block.shopify_attributes }}>
              {% if cart.taxes_included %}
                {{ 'products.page.include_taxes' | t }}
              {%- endif -%}
              {%- if shop.shipping_policy.body != blank -%}
                {{ 'products.page.shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- endif -%}
            </div>
          {%- endif -%}

        {%- when 'sku_barcode' -%}

          <div class="product__sku-barcode text-size--small" {{ block.shopify_attributes }}>
            <span class="product__sku" data-js-product-sku>
              {%- if current_variant.sku != empty -%}
                {{ 'products.page.sku' | t }}{{ current_variant.sku | escape }}
              {%- endif -%}
            </span>
             <span class="product__barcode" data-js-product-barcode>
              {%- if current_variant.barcode != empty -%}
                {{ 'products.page.barcode' | t }}{{ current_variant.barcode | escape }}
              {%- endif -%}
            </span>
          </div>

        {%- when 'description' -%}

          {%- if product.description != blank -%}
            <div class="product__description rte" {{ block.shopify_attributes }}>
              {{ product.description }}
            </div>
          {%- endif -%}

        {%- when 'nutrition' -%}
          <toggle-tab class="toggle toggle--table element--border-radius element--has-border" {{ block.shopify_attributes }}>
            <span class="toggle__title" data-js-title tabindex="0" aria-expanded="false" role="button" aria-controls="toggle-{{ block.id }}">
              <span class="toggle__icon-title">
                {%- if block.settings.custom_icon != blank -%}
                  <img src="{{ block.settings.custom_icon | image_url: width: 76, height: 76, crop: 'center' }}" width="{{ block.settings.custom_icon.width }}" height="{{ block.settings.custom_icon.height }}" style="width:24px;height:24px;border-radius:none;" alt="{{ block.settings.custom_icon.alt | escape }}">
                {%- else -%}
                  {%- render 'theme-symbols', icon: 'table' -%}
                {%- endif -%}
                {{ block.settings.heading | escape }}
              </span>
            </span>
            <div id="toggle--{{ block.id }}" data-js-content class="toggle__content rte remove-empty-space" role="region">
              {%- liquid
                assign table_content = block.settings.content | replace: '</p>', ''
                assign content_parts = table_content | split: '<p>'
                assign title_added = false
              -%}
              {%- for content in content_parts -%}
                <div class="table">

                  {%- unless block.settings.label_left == blank or block.settings.label_right == blank -%}
                    {%- if content.size > 0 and title_added != true -%}
                      {%- assign title_added = true -%}
                      <span class="table-line table-line--heading">
                        <span>{{ block.settings.label_left | escape }}</span>
                        <span>{{ block.settings.label_right | escape }}</span>
                      </span>
                    {%- endif -%}
                  {%- endunless -%}

                  {%- assign content_array = content | split: '<br/>' -%}
                  {%- for content_block in content_array -%}
                    {%- assign content_block_array_prepare = content_block | replace_first: ',', '$$$' -%}
                    {%- assign content_block_array = content_block_array_prepare | split: '$$$' -%}
                    <span class="table-line {% if content_block contains '-' %} table-line--indent {% endif %}">
                      {%- for content_block_part in content_block_array -%}
                        <span>{{ content_block_part | replace_first: '-', '' }}</span>
                      {%- endfor -%}
                    </span>
                  {%- endfor -%}

                </div>

              {%- endfor -%}

              {%- unless block.settings.content_extra == blank -%}
                <div class="rte">
                  {{ block.settings.content_extra }}
                </div>
              {%- endunless -%}
              
            </div>
          </toggle-tab>

        {%- when 'variant_picker' -%}

          {%- unless product == blank -%}
            <product-variants 
              data-variants="{{ product.options_with_values.size }}"
              data-type="{{ block.settings.variants_style }}"
              data-hide-variants="true"
              data-url="{{ product.url }}" data-id="{{ section.id }}"
              data-style="{{ block.settings.variants_style }}"
              data-no-history
              {% unless product.has_only_default_variant %} data-has-variants {% endunless %}
              {{ block.shopify_attributes }}
            > 

              {%- if block.settings.variants_style == 'select' -%}

                <div class="product-variants product-variants--select buttons-holder no-js-hidden"
                  {% if product.has_only_default_variant %} style="display:none" {% endif %}
                >
                  {%- for option in product.options_with_values -%}
                    <div class="product-variant" data-js-product-variant>
                      <label class="product-variant__name text-size--large" for="product-{{ option.name | escape | downcase | strip }}-{{ section.id }}">{{ option.name }}</label>
                      <select class="product-variant-container" id="product-{{ option.name | escape | downcase | strip }}-{{ section.id }}" data-js-product-variant-container="select">
                        {%- for value in option.values -%}
                          <option class="product-variant-value" value="{{ value | escape }}" {% if option.selected_value == value %}selected{% endif %}>
                            {{ value | escape }}
                          </option>
                        {%- endfor -%}
                      </select>
                    </div>
                  {%- endfor -%}
                </div>

              {%- else -%}

                <div class="product-variants product-variants--radio no-js-hidden"
                  {% if product.has_only_default_variant %} style="display:none" {% endif %}
                >

                  {%- for option in product.options_with_values -%}
                    
                    <div class="product-variant" data-name="product-{{ option.name | escape | downcase | strip }}-{{ section.id }}" data-js-product-variant>

                      <span class="product-variant__name text-size--large">{{ option.name }}</span>

                      <div class="product-variant__container" data-js-product-variant-container="radio">
                        {%- for value in option.values -%}
                          <div class="product-variant__item">
                            <input type="radio" name="product-{{ option.name | escape | downcase | strip }}-{{ section.id }}" id="{{ product.handle }}-option-{{ option.name | escape | downcase | strip }}-{{ forloop.index }}-{{ section.id }}" value="{{ value | escape }}" {% if option.selected_value == value %}checked{% endif %} class="product-variant__input product-variant-value">
                            <label for="{{ product.handle }}-option-{{ option.name | escape | downcase | strip }}-{{ forloop.index }}-{{ section.id }}" class="product-variant__label">
                              {{ value }}
                            </label>
                          </div>
                        {%- endfor -%}
                      </div>

                    </div>

                  {%- endfor -%}

                </div>

              {%- endif -%}

              <noscript>
                <label for="Variants-{{ section.id }}" class="text-size--large" style="display:block;margin-bottom:.75rem">{{ 'products.page.variants' | t }}</label>
                <select name="id" id="Variants-{{ section.id }}" class="productSelect"
                  {% if product.has_only_default_variant %} style="display:none!important" {% endif %}
                  form="{{ product_form_id }}"
                >
                  {%- for variant in product.variants -%}
                    <option
                      {% if variant == current_variant %}selected="selected"{% endif %}
                      {% if variant.available == false %}disabled{% endif %}
                      value="{{ variant.id }}"
                    >
                      {{ variant.title }}
                      {% if variant.available == false %} - {{ 'products.page.inventory.sold_out_variant' | t }}{% endif %}
                      - {{ variant.price | money | strip_html }}
                    </option>
                  {%- endfor -%}
                </select>
              </noscript>

              {%- if block.settings.show_quantities != "no" -%} 
                <span class="product-variant__quantity text-size--small text-color--secondary" 
                  data-js-variant-quantity 
                  data-type="{{ block.settings.show_quantities }}"
                  data-low-stock="5"
                ></span>
                {%- capture variant_inventory -%}
                  [{%- for variant in product.variants -%}{
                    "id": {{ variant.id }}{%- if variant.inventory_management != null -%}, 
                    "quantity": {{ variant.inventory_quantity }}, 
                    "inventory": "{{ variant.inventory_policy }}"{%- endif -%}
                    {%- if variant.available == false -%},"unavailable": true{%- endif -%}
                    }{%- unless forloop.last -%},{%- endunless -%}
                  {%- endfor -%}]
                {%- endcapture -%}
                <span data-js-variant-quantity-data data-inventory='{{ variant_inventory }}'></span>
              {%- endif -%}

              <script type="application/json">
                {{ product.variants | json }}
              </script>

            </product-variants>

          {%- endunless -%}

        {%- when 'buy_buttons' -%}

          {%- unless product == blank -%}

            <div class="product-actions" {{ block.shopify_attributes }}>

              <div data-js-product-price-extended 
                {% unless block.settings.show_price %} style="display:none" {% endunless %}
              >
                {%- render 'product-price', variant: current_variant, target: current_variant, text_size_class: 'text-size--heading', show_saving: true -%}
              </div>

              <product-form 
                id="add-to-cart-{{ section.id }}" class="product-form" {% if settings.cart_action == 'overlay' %} data-ajax-cart data-js-product-form {% endif %}
              >
                
                {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}

                  <template>
                    <input type="hidden" name="id" value="{{ current_variant.id }}">
                  </template>
                  <script>
                    document.getElementById('add-to-cart-{{ section.id }}').querySelector('form').append(document.getElementById('add-to-cart-{{ section.id }}').querySelector('template').content.cloneNode(true));
                  </script>

                  <div class="product__cart-functions">

                    <div class="flex-buttons">

                      {%- liquid 
                        if block.settings.show_quantity_selector
                          render 'product-quantity', variant: current_variant, id: section.id
                        endif
                      -%}

                      <button type="submit" name="add" class="add-to-cart button button--solid button--product button--loader {% unless current_variant.available %} disabled {% endunless %}" data-js-product-add-to-cart>
                        <span class="button__text" data-js-product-add-to-cart-text>
                          {%- liquid
                            if current_variant.available
                              echo 'products.page.add_to_cart_button' | t
                            else
                              echo 'products.page.inventory.sold_out_variant' | t
                            endif
                          -%}
                        </span>
                        <span class="button__preloader">
                          <svg class="button__preloader-element" viewBox="25 25 50 50"><circle cx="50" cy="50" r="20" fill="none" stroke-width="4"/></svg>
                        </span>
                      </button>

                      {%- liquid
                        if block.settings.show_dynamic_checkout
                          echo form | payment_button
                        endif
                      -%}

                    </div>
                    
                  </div>

                {%- endform -%}

              </product-form>

              {%- form 'product', product, id: 'product-form-installment' -%}
                <input type="hidden" name="id" value="{{ current_variant.id }}">
                {{ form | payment_terms }}
              {%- endform -%}

            </div>

          {%- endunless -%}

        {%- when 'pickup_availability' -%} 

          {%- if block.settings.style == 'compact' -%}

            <pickup-availability-compact
              class="no-js-hidden"
              data-base-url="{{ shop.url }}{{ routes.root_url }}"
              data-variant-id="{{ current_variant.id }}"
              data-has-only-default-variant="{{ product.has_only_default_variant }}"
              data-id="{{ section.id }}"
              style="display:block"
              {{ block.shopify_attributes }}
            >
              <span class="alert alert--note alert--circle alert--circle-loading">
                {{ 'store_availability.compact_widget.checking_availability' | t }}
              </span>
            </pickup-availability-compact>

          {%- else -%}

            <pickup-availability-extended
              class="pickup-availability-widget element--border-radius no-js-hidden"
              data-base-url="{{ shop.url }}{{ routes.root_url }}"
              data-variant-id="{{ current_variant.id }}"
              data-has-only-default-variant="{{ product.has_only_default_variant }}"
              data-id="{{ section.id }}"
              style="display:block"
              {{ block.shopify_attributes }}
            >
              <div class="pickup-availability-widget__header">
                <span class="alert alert--note alert--circle alert--circle-loading alert--unstyled">
                  {{ 'store_availability.compact_widget.checking_availability' | t }}
                </span>
              </div>
            </pickup-availability-extended>

          {%- endif -%}

        {%- when 'rating' -%}
          <div {{ block.shopify_attributes }}>
            {%- render 'star-rating', reviews: product.metafields.reviews -%}
          </div>

        {%- when 'icons' -%}

          <div class="product-icons-list" {{ block.shopify_attributes }}>

            {%- unless block.settings.title == blank -%}
              <p class="text-size--large text-weight--bold">{{ block.settings.title | escape }}</p>
            {%- endunless -%}

            <div class="product-icons-list-container" {{ block.shopify_attributes }}>
              {%- liquid
                render 'product-icon-label', icon: block.settings.icon_1_image, label: block.settings.icon_1_label, style: 'compact'
                render 'product-icon-label', icon: block.settings.icon_2_image, label: block.settings.icon_2_label, style: 'compact'
                render 'product-icon-label', icon: block.settings.icon_3_image, label: block.settings.icon_3_label, style: 'compact'
                render 'product-icon-label', icon: block.settings.icon_4_image, label: block.settings.icon_4_label, style: 'compact'
                render 'product-icon-label', icon: block.settings.icon_5_image, label: block.settings.icon_5_label, style: 'compact'
                render 'product-icon-label', icon: block.settings.icon_6_image, label: block.settings.icon_6_label, style: 'compact'
              -%}
            </div>

          </div>

      {%- endcase -%}

    {%- endfor -%}

 	</div>

  {%- if first_3d_model -%}
    <script type="application/json" id="ProductJSON-{{ product.id }}">
      {{ product.media | where: 'media_type', 'model' | json }}
    </script>
  {%- endif -%}

</product-page>

{%- if section.settings.enable_zoom -%}
  <script src="{{ 'component-product-image-zoom.js' | asset_url }}" defer></script>
{%- endif -%}

<script src="{{ 'section-main-product.js' | asset_url }}" defer></script>

{%- if video_script -%}
  {{ 'component-video.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'component-video.js' | asset_url }}" defer></script>
{%- endif -%}

{% schema %}
  {
    "name": "t:sections.featured-product.name",
    "class": "mount-css-slider mount-toggles mount-product-page",
    "tag": "section",
    "blocks": [
      {
        "type": "text",
        "name": "t:sections.main-product.blocks.text.name",
        "settings": [
          {
            "id": "text",
            "type": "richtext",
            "default": "<p>Text block</p>",
            "label": "t:sections.main-product.blocks.text.settings.text.label"
          },
          {
            "type": "select",
            "id": "text_size",
            "label": "t:sections.local-extra-words.sections.product-card.blocks.text.settings.size.label",
            "options": [
              {
                "value": "text-size--xsmall",
                "label": "t:sections.local-extra-words.sections.product-card.blocks.text.settings.size.option__1"
              },
              {
                "value": "text-size--regular",
                "label": "t:sections.local-extra-words.sections.product-card.blocks.text.settings.size.option__2"
              },
              {
                "value": "text-size--large",
                "label": "t:sections.local-extra-words.sections.product-card.blocks.text.settings.size.option__3"
              }
            ],
            "default": "text-size--regular"
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "t:sections.local-extra-words.sections.product-card.blocks.text.settings.color.label",
            "default": "#6A6A6A"
          },
          {
            "type": "checkbox",
            "id": "text_transform",
            "label": "t:sections.local-extra-words.sections.product-card.blocks.text.settings.transform.label",
            "default": false
          }
        ]
      },
      {
        "type": "vendor",
        "name": "t:sections.local-extra-words.sections.product-card.blocks.vendor",
        "settings": [
          {
            "type": "select",
            "id": "text_size",
            "label": "t:sections.local-extra-words.sections.product-card.blocks.text.settings.size.label",
            "options": [
              {
                "value": "text-size--xsmall",
                "label": "t:sections.local-extra-words.sections.product-card.blocks.text.settings.size.option__1"
              },
              {
                "value": "text-size--regular",
                "label": "t:sections.local-extra-words.sections.product-card.blocks.text.settings.size.option__2"
              },
              {
                "value": "text-size--large",
                "label": "t:sections.local-extra-words.sections.product-card.blocks.text.settings.size.option__3"
              }
            ],
            "default": "text-size--regular"
          }
        ]
      },
      {
        "type": "title",
        "name": "t:sections.main-product.blocks.title.name",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "t:sections.refactor_words.seo.name"
          },
          {
            "type": "select",
            "id": "seo_h_tag",
            "label": "t:sections.refactor_words.seo.label",
            "info": "t:sections.refactor_words.seo.info",
            "options": [
              {
                "value": "h1",
                "label": "H1"
              },
              {
                "value": "h2",
                "label": "H2"
              },
              {
                "value": "h3",
                "label": "H3"
              },
              {
                "value": "h4",
                "label": "H4"
              },
              {
                "value": "span",
                "label": "span"
              }
            ],
            "default": "h2"
          }
        ]
      },
      {
        "type": "price",
        "name": "t:sections.main-product.blocks.price.name",
        "limit": 1
      },
      {
        "type": "tax_info",
        "name": "t:sections.local-extra-words.sections.main-product.blocks.tax_info.name",
        "limit": 1
      },
      {
        "type": "sku_barcode",
        "name": "t:sections.main-product.blocks.sku_barcode.name",
        "limit": 1
      },
      {
        "type": "variant_picker",
        "name": "t:sections.main-product.blocks.variant_picker.name",
        "limit": 1,
        "settings": [ 
          {
            "type": "select",
            "id": "variants_style",
            "label": "t:sections.split-extra-words.sections.main-product.settings.variants.label",
            "options": [
              {
                "value": "radio",
                "label": "t:sections.split-extra-words.sections.main-product.settings.variants.options__1"
              },
              {
                "value": "select",
                "label": "t:sections.split-extra-words.sections.main-product.settings.variants.options__2"
              }
            ],
            "default": "radio"
          },
          {
            "type": "select",
            "id": "show_quantities",
            "label": "t:sections.main-product.blocks.variant_picker.settings.low_inventory_notification.label",
            "info": "t:sections.main-product.blocks.variant_picker.settings.low_inventory_notification.info",
            "options": [
              {
                "value": "no",
                "label": "t:sections.main-product.blocks.variant_picker.settings.low_inventory_notification.options__1.label"
              },
              {
                "value": "below",
                "label": "t:sections.main-product.blocks.variant_picker.settings.low_inventory_notification.options__2.label"
              },
              {
                "value": "always",
                "label": "t:sections.main-product.blocks.variant_picker.settings.low_inventory_notification.options__3.label"
              }
            ],
            "default": "no"
          }
        ]
      },
      {
        "type": "buy_buttons",
        "name": "t:sections.main-product.blocks.buy_buttons.name",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_dynamic_checkout",
            "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
            "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_quantity_selector",
            "label": "t:sections.main-product.blocks.buy_buttons.settings.show_quantity_selector.label",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_price",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.buy_buttons.settings.show_price",
            "default": true
          }
        ]
      },
      {
        "type": "description",
        "name": "t:sections.main-product.blocks.description.name",
        "limit": 1
      },
      {
        "type": "rating",
        "name": "t:settings_schema.product-grid.settings.header__1.content",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "t:settings_schema.product-grid.settings.header__1.info"
          }
        ]
      },
      {
        "type": "nutrition",
        "name": "t:local-march-update.blocks.nutritional.name",
        "settings": [
          {
            "id": "heading",
            "type": "text",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.heading.label",
            "default": "Nutritional information"
          },
          {
            "type": "image_picker",
            "id": "custom_icon",
            "label": "t:sections.local-extra-words.sections.header.blocks.info.custom-icon.label",
            "info": "t:sections.local-extra-words.sections.header.blocks.info.custom-icon.info"
          },
          {
            "type": "text",
            "id": "label_left",
            "label": "t:local-march-update.blocks.nutritional.label_left",
            "default": "Typical values"
          },
          {
            "type": "text",
            "id": "label_right",
            "label": "t:local-march-update.blocks.nutritional.label_right",
            "default": "Per 100g"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "t:local-march-update.blocks.nutritional.information.label",
            "info": "t:local-march-update.blocks.nutritional.information.info",
            "default": "<p>Energy, 205 kJ / 49 kcal<br/>Fat, 0g<br/>- of which: Saturates, 0g<br/>Carbohydrate, 10g<br/>- of which: Sugars, 7g<br/></p>"
          },
          {
            "type": "richtext",
            "id": "content_extra",
            "label": "t:local-march-update.blocks.nutritional.extra_information",
            "default": "<p><strong>Ingredients:</strong> Sugar, Glucose Syrup, Water, Beef Gelatine, Acid: Citric Acid, Flavouring</p>"
          },
          {
            "type": "header",
            "content": "t:local-march-update.labels.dynamic_content.name"
          },
          {
            "type": "checkbox",
            "label": "t:local-march-update.labels.dynamic_content.hide_block",
            "id": "hide_block_if",
            "default": false
          }
        ]
      },
      {
        "type": "pickup_availability",
        "name": "t:sections.local-extra-words.sections.main-product.blocks.pickup_availability.name",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "t:sections.local-extra-words.sections.main-product.blocks.pickup_availability.info"
          },
          {
            "type": "select",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.pickup_availability.settings.style",
            "id": "style",
            "options": [
              {
                "value": "compact",
                "label": "t:sections.local-extra-words.sections.main-product.blocks.pickup_availability.settings.option__1"
              },
              {
                "value": "extended",
                "label": "t:sections.local-extra-words.sections.main-product.blocks.pickup_availability.settings.option__2"
              }
            ],
            "default": "extended"
          }
        ]
      },
      {
        "type": "icons",
        "name": "t:sections.local-extra-words.sections.main-product.blocks.icons.name",
        "limit": 2,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.local-extra-words.sections.headings.title",
            "default": "Icons list"
          },
          {
            "type": "paragraph",
            "content": "t:sections.local-extra-words.sections.main-product.blocks.icons.info"
          },
          {
            "type": "header",
            "content": "t:sections.local-extra-words.sections.main-product.blocks.icons.headers.icon_1"
          },
          {
            "type": "image_picker",
            "id": "icon_1_image",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.icons.settings.icon",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.icons.settings.icon_info"
          },
          {
            "type": "text",
            "id": "icon_1_label",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.icons.settings.label"
          },
          {
            "type": "header",
            "content": "t:sections.local-extra-words.sections.main-product.blocks.icons.headers.icon_2"
          },
          {
            "type": "image_picker",
            "id": "icon_2_image",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.icons.settings.icon",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.icons.settings.icon_info"
          },
          {
            "type": "text",
            "id": "icon_2_label",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.icons.settings.label"
          },
          {
            "type": "header",
            "content": "t:sections.local-extra-words.sections.main-product.blocks.icons.headers.icon_3"
          },
          {
            "type": "image_picker",
            "id": "icon_3_image",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.icons.settings.icon",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.icons.settings.icon_info"
          },
          {
            "type": "text",
            "id": "icon_3_label",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.icons.settings.label"
          },
          {
            "type": "header",
            "content": "t:sections.local-extra-words.sections.main-product.blocks.icons.headers.icon_4"
          },
          {
            "type": "image_picker",
            "id": "icon_4_image",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.icons.settings.icon",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.icons.settings.icon_info"
          },
          {
            "type": "text",
            "id": "icon_4_label",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.icons.settings.label"
          },
          {
            "type": "header",
            "content": "t:sections.local-extra-words.sections.main-product.blocks.icons.headers.icon_5"
          },
          {
            "type": "image_picker",
            "id": "icon_5_image",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.icons.settings.icon",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.icons.settings.icon_info"
          },
          {
            "type": "text",
            "id": "icon_5_label",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.icons.settings.label"
          },
          {
            "type": "header",
            "content": "t:sections.local-extra-words.sections.main-product.blocks.icons.headers.icon_6"
          },
          {
            "type": "image_picker",
            "id": "icon_6_image",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.icons.settings.icon",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.icons.settings.icon_info"
          },
          {
            "type": "text",
            "id": "icon_6_label",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.icons.settings.label"
          }
        ]
      },
      {
        "type": "product_link",
        "name": "t:sections.featured-product.blocks.product_link.name",
        "limit": 1
      },
      {
        "type": "space",
        "name": "t:local-march-update.blocks.space.name"
      }
    ],
    "settings": [
      {
        "type": "product",
        "id": "product",
        "label": "t:sections.featured-product.settings.product.label"
      },
      {
        "type": "header",
        "content": "t:sections.main-product.settings.header.content",
        "info": "t:sections.main-product.settings.header.info"
      },
			{
				"type": "select",
				"id": "gallery_ratio",
				"label": "t:sections.refactor_words.product-page.gallery_resize.label",
				"options": [
					{
						"value": "natural",
						"label": "t:sections.gallery.settings.aspect_ratio.options__5.label",
						"group": "t:sections.gallery.settings.aspect_ratio.options__5.group"
					},
					{
						"value": "1.33333",
						"label": "t:sections.gallery.settings.aspect_ratio.options__1.label",
						"group": "t:sections.gallery.settings.aspect_ratio.options__1.group"
					},
					{
						"value": "1",
						"label": "t:sections.gallery.settings.aspect_ratio.options__2.label",
						"group": "t:sections.gallery.settings.aspect_ratio.options__1.group"
					},
					{
						"value": "0.83333",
						"label": "t:sections.gallery.settings.aspect_ratio.options__3.label",
						"group": "t:sections.gallery.settings.aspect_ratio.options__1.group"
					},
					{
						"value": "0.666667",
						"label": "t:sections.gallery.settings.aspect_ratio.options__4.label",
						"group": "t:sections.gallery.settings.aspect_ratio.options__1.group"
					}
				],
				"default": "natural",
        "info": "t:sections.refactor_words.product-page.gallery_resize.info"
			},
			{
				"type": "checkbox",
				"id": "gallery_fit",
				"label": "t:sections.refactor_words.product-page.gallery_resize.option_1",
				"default": false
			},
      {
        "type": "checkbox",
        "id": "show_border",
        "label": "t:sections.local-extra-words.sections.main-product.settings.show_border",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "gallery_card_design",
        "label": "t:local-march-update.labels.inherit_card_design",
        "default": false
      },
			{
				"type": "range",
				"id": "gallery_padding",
				"label": "t:sections.refactor_words.product-page.gallery_padding.label",
				"min": 0,
				"max": 15,
				"step": 1,
				"default": 0,
				"unit": "%"
			},
      {
        "type": "radio",
        "id": "gallery_pagination",
        "label": "t:sections.local-extra-words.sections.main-product.settings.gallery_pagination",
        "options": [
          {
            "value": "dots",
            "label": "t:sections.main-product.settings.gallery_pagination.options__1.label"
          },
          {
            "value": "thumbnails",
            "label": "t:sections.main-product.settings.gallery_pagination.options__2.label"
          }
        ],
        "default": "dots"
      },
      {
        "type": "checkbox",
        "id": "enable_zoom",
        "label": "t:sections.main-product.settings.enable_zoom.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_video_looping",
        "label": "t:sections.main-product.settings.enable_video_looping.label",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "t:sections.featured-product.name",
        "blocks": [
          {
            "type": "title"
          },
          {
            "type": "price"
          },
          {
            "type": "variant_picker"
          },
          {
            "type": "space"
          },
          {
            "type": "buy_buttons"
          },
          {
            "type": "space"
          },
          {
            "type": "description"
          }
        ]
      }
    ],
    "disabled_on": {
      "groups": ["header"]
    }
  }
{% endschema %}
