{% if template contains "index" or template contains "collection" or template contains "product" %}
	
{% else %}
	<style>.map-fallback{position:absolute;top:0;width:100%;height:100%}html[dir=rtl] .map-fallback{right:0}html[dir=ltr] .map-fallback{left:0}.store-selector{z-index:99}.store-selector>*:not(.store-selector-set){background-color:var(--color-background-main);border:var(--border-width-forms) solid var(--color-borders-main);border-radius:var(--border-radius-forms);color:var(--color-text-main);margin-bottom:1.25rem}.store-selector:not([data-main-selector]) .store-selector-item__header{cursor:pointer}.store-selector[data-main-selector] .store-selector-item__header{padding-bottom:calc(var(--gutter-regular) * .75)}.store-selector[data-main-selector] .store-selector-item__body{padding-inline-start:calc(var(--gutter-regular) + 2.25rem)}.store-selector[data-main-selector] .store-selector-item__input-container{cursor:pointer;width:3.125rem;margin-inline-start:-.875rem;padding-inline-start:.875rem;margin-top:-.625rem;padding-top:.625rem;padding-bottom:.625rem}.no-touchevents .store-selector[data-main-selector] .store-selector-item__input-container:hover input{border-color:var(--color-borders-forms-secondary)}.store-selector[data-single-store] .store-selector-item__input-container{display:none}.store-selector-item{transition:all .1s linear}.store-selector-item span{display:block}.store-selector-item:not(:first-child){border-top:1px solid var(--color-borders-main)}.store-selector-item__header{display:flex;flex-direction:row;flex-wrap:wrap;align-content:flex-start;justify-content:space-between;padding:var(--gutter-regular);min-height:2.5rem;cursor:default}.store-selector-item__header .js-accordion-tab-toggle.js-accordion-tab-toggle--main{cursor:pointer;width:3.75rem;height:3.75rem;display:flex;align-items:center;justify-content:center;margin:-.625rem -1.25rem 0 0;padding-top:.3125rem}.no-touchevents .store-selector-item__header .js-accordion-tab-toggle.js-accordion-tab-toggle--main:hover{transform:scale(1.15)}.store-selector-item__header .js-accordion-tab-toggle.js-accordion-tab-toggle--main:focus-visible{outline:auto 5px -webkit-focus-ring-color}.store-selector-item__header path{fill:var(--color-text-main)}.store-selector-item__header .js-accordion-tab-toggle .toggle__icon--minus{display:none}.store-selector-item--active .store-selector-item__header .js-accordion-tab-toggle .toggle__icon--minus,.store-selector-item--faux-active .store-selector-item__header .js-accordion-tab-toggle .toggle__icon--minus{display:block}.store-selector-item--active .store-selector-item__header .js-accordion-tab-toggle .toggle__icon--plus,.store-selector-item--faux-active .store-selector-item__header .js-accordion-tab-toggle .toggle__icon--plus{display:none}.store-selector-item__input{display:flex;align-items:flex-start}.store-selector-item__input input{margin-top:.3125rem;margin-inline-end:1rem!important;pointer-events:none}.store-selector-item__body{border-top:1px solid var(--color-borders-main);padding:var(--gutter-regular);display:block;word-break:break-word}@media screen and (max-width: 767px){.store-selector-item__body{padding:calc(var(--gutter-regular) * 1.5) calc(var(--gutter-regular) * 2) calc(var(--gutter-regular) * 2) calc(var(--gutter-regular) + 2.1875rem)}}.store-selector-item__content{padding:var(--gutter-regular)}.store-selector-item__address{padding-inline-end:2rem}@media screen and (max-width: 767px){.store-selector-item__address{padding-inline-end:0}}.store-selector-item [role=tabpanel]{display:none}.store-selector[data-single-store] .store-selector-item [role=tabpanel]{display:block}.store-selector[data-single-store][data-main-selector] .store-selector-item [role=tabpanel]{padding-inline-start:var(--gutter-regular)}.store-selector-item__gallery .css-slider-navigation-container{margin-bottom:0!important;display:flex!important}@media screen and (max-width: 474px){.store-selector-item__gallery .css-slider--bottom-navigation .css-slider-navigation-container .css-slider-dot-navigation{display:block!important}}.store-selector-item--active,.store-selector-item--faux-active{background-color:var(--color-third-background-main)}.store-selector-item--active .store-selector-item__header+.js-tab-panel,.store-selector-item--faux-active .store-selector-item__header+.js-tab-panel{border-top:solid 1px var(--color-borders-main)}.store-selector[data-single-store] .store-selector-item--active,.store-selector[data-single-store] .store-selector-item--faux-active{background-color:var(--color-background-main);border-radius:var(--border-radius-forms)}.no-touchevents .store-selector-item:not(.store-selector-item--active):hover{background-color:var(--color-fourth-background-main)}.store-selector-map{margin-bottom:1.25rem}.store-selector-set{position:sticky;bottom:0;z-index:100}.store-selector-set:before{content:"";position:absolute;left:calc(var(--gutter-large) * -.75);width:calc(100% + (var(--gutter-large) * 1.5));top:calc(var(--gutter-large) * -.6);height:calc(100% + (var(--gutter-large) * 1.2));background:var(--color-background-main);z-index:-1;box-shadow:1px -15px 20px 5px #0000001f}.store-selector-set .store-selector-set__change-label,.store-selector-set .store-selector-set__set-label{display:none}.store-selector-set.show-select-label .store-selector-set__set-label,.store-selector-set.show-change-label .store-selector-set__change-label{display:inline}.map{display:block}.map-object{height:60vh;width:100%;border:1px solid var(--color-borders-main)}@media screen and (max-width: 1023px){.map-object{height:50vh}}@media screen and (max-width: 767px){.map-object{height:40vh}}.map-loader{position:absolute;margin:0;width:20px;height:20px;transform:translate3d(-50%,-50%,0);top:50%;left:50%;display:block;z-index:-1}.map-loader-element{animation:rotate 2s linear infinite;height:100%;transform-origin:center center;width:100%;position:absolute;top:0;margin:auto}html[dir=rtl] .map-loader-element{right:0}html[dir=ltr] .map-loader-element{left:0}.map-loader-element circle{stroke-dasharray:150,200;stroke-dashoffset:-10;animation:dash 1.5s ease-in-out infinite;stroke-linecap:round;stroke:var(--color-text-main)}img.scaled-store-icon{transform:scale(2);filter:drop-shadow(0px 0px 10px rgba(0,0,0,.16))}.store-selector-map,store-selector{position:relative}@media screen and (min-width: 1024px){.store-selector-map,store-selector{position:sticky;top:1.25rem}}@media screen and (min-width: 1024px){#modal-store-selector .modal-content{height:80vh;max-height:50rem;display:grid;grid-template-rows:auto 1fr auto;grid-template-columns:100%}#modal-store-selector .store-selector{padding-bottom:1.25rem}}@media screen and (max-width: 1023px){#modal-store-selector .store-selector{padding-bottom:1.875rem}}</style>
{% endif %}
<link data-href="{{ 'component-store-selector.css' | asset_url }}" rel="stylesheet" type="text/css" media="all" />

{%- liquid
  if section.blocks.size == 1 
    assign single_store = true
  endif
-%}

{%- assign store_blocks_found = 0 -%}

{%- if section.blocks.size > 0 -%}

  {%- capture store_blocks -%}

    {%- for block in section.blocks -%}

      {%-liquid
        assign gallery_has_image = false
        if block.settings.image_1 or block.settings.image_2 or block.settings.image_3
          assign gallery_has_image = true
        endif
        assign store_blocks_found = store_blocks_found | plus: 1
      -%}

      <div class="store-selector-item {% if single_store %} store-selector-item--active {% endif %}" 
        id="{{ block.id }}"
        data-handle="{{ block.settings.store_name | handleize }}-{{ block.id }}" 
        data-title="{{ block.settings.store_name | escape }}"
        {{ block.shopify_attributes }}
      >

        <div class="store-selector-item__header js-accordion-tab" role="tab" aria-selected="{%- if single_store -%} true {%- else -%} false {%- endif -%}" aria-controls="store-selector-tab-{{ block.settings.store_name | handleize }}-{{ block.id }}">
  
          <div class="store-selector-item__container store-selector-item__input element--align-self-center">
            <span class="store-selector-item__title"><strong>{{ block.settings.store_name | escape }}</strong></span>
          </div>

        </div>
        
        <!-- Gallery + Address  -->
        
        <div class="js-tab-panel"  role="tabpanel" id="store-selector-tab-{{ block.settings.store_name | handleize }}-{{ block.id }}">
          
          <div class="{% if gallery_has_image %} grid grid--layout grid-2 grid-lap-1 {% endif %} store-selector-item__content">

            {%- if gallery_has_image -%}

              <div class="store-selector-item__gallery">
                <css-slider data-options='{
                  "selector": ".js-slider-item",
                  "navigation": false
                }'
                  class="css-slider css-slider--bottom-navigation {% if block.settings.image_2 == blank and block.settings.image_3 == blank %} css-slider--singular {% endif %}" 
                >

                  <div class="grid grid--slider grid-1">

                    {%- assign sizes = 'sizes="(max-width: 767px) calc(100vw - 100px), (max-width: 1024px) 50vw, (max-width: 1360px) 22vw, 275px"' -%}

                    {%- if block.settings.image_1 -%}
                      <div class="js-slider-item element--border-radius">
                        {%- render 'lazy-image', image: block.settings.image_1, ratio: block.settings.image_aspect_ratio, sizes: sizes -%}
                      </div>
                    {%- endif -%}
                    
                    {%- if block.settings.image_2 -%}
                      <div class="js-slider-item element--border-radius">
                        {%- render 'lazy-image', image: block.settings.image_2, ratio: block.settings.image_aspect_ratio, sizes: sizes -%}
                      </div>
                    {%- endif -%}
                    
                    {%- if block.settings.image_3 -%}
                      <div class="js-slider-item element--border-radius">
                        {%- render 'lazy-image', image: block.settings.image_3, ratio: block.settings.image_aspect_ratio, sizes: sizes -%}
                      </div>
                    {%- endif -%}

                  </div>
                  
                </css-slider>
              </div>

            {%- endif -%}

            <div>
              
              <div class="rte">{{ block.settings.store_address }}</div>

              {%- if block.settings.store_map_latitude != blank and block.settings.store_map_longitude != blank -%}
                <div class="store-selector-item__container">
                  <a target="_blank" href="http://www.google.com/maps/place/{{ block.settings.store_map_latitude | escape }},{{ block.settings.store_map_longitude | escape }}" class="button button--small button--outline" style="z-index:99">
                    {{ 'store_availability.store_selector.google_maps_link_label' | t }}
                  </a>
                </div>
              {%- endif -%}

            </div>
    
          </div>

        </div>

      </div>

    {%- endfor -%}
  {%- endcapture -%}

{%- endif -%}

{%- if section.settings.map_enable -%}

  {%- assign map_blocks_found = 0 -%}
  {%- capture map_blocks -%}

    {%- for block in section.blocks -%}

      {%- if block.settings.store_map_latitude != blank and block.settings.store_map_longitude != blank -%}

        {%- assign map_blocks_found = map_blocks_found | plus: 1 -%}
        <li
          data-id="{{ block.settings.store_name | handleize }}-{{ block.id }}"
          data-latitude="{{ block.settings.store_map_latitude | escape }}"
          data-longitude="{{ block.settings.store_map_longitude | escape }}"
          data-marker="{%- liquid
            unless block.settings.store_map_pin == blank
              echo block.settings.store_map_pin | image_url: width: 60
            else  
              echo 'image-map-pin.png' | asset_url
            endunless
          -%}"
        ><!-- map marker --></li>

      {%- endif -%}

    {%- endfor -%}

  {%- endcapture -%}

{%- endif -%}

<div class="container--large container--vertical-space remove-empty-space">
  
  {%- render 'section-heading', heading: section.settings.heading, subheading: section.settings.subheading, heading_tag: section.settings.seo_h_tag, layout: section.settings.section_heading_layout -%}

  <div class="grid grid--layout grid--no-stretch grid-2 grid-portable-1">

    {%- if section.settings.map_enable -%}

      <interactive-map
        id="map-{{ section.id }}"
        class="map store-selector-map"
        data-style="{{ section.settings.map_style }}"
        data-zoom="{{ section.settings.map_zoom }}"
        data-style="{{ section.settings.map_style }}"
        tabindex="-1"
      >
        {%- if map_blocks_found > 0 -%}
          <ul class="map-addresses" data-js-map-addresses style="display:none">
            {{ map_blocks }}
          </ul>
        {%- endif -%}
        <div class="map-object element--border-radius element--z-1" data-js-map-object id="interactive-map-{{ section.id }}"></div>
      </interactive-map>
      <script>window.initLocalMap = () => {}</script>
      <script src="{{ 'component-interactive-map.js' | asset_url }}" defer></script>

    {%- else -%}

      <div class="element--border-radius store-selector-map" style="" data-js-map-fallback>
        {%- liquid
          if section.settings.map_image == blank
            render 'lazy-svg', image: 'image', ratio: 1.6, class: 'svg-placeholder svg-placeholder--foreground'
          else
            assign sizes = 'sizes="(max-width: 767px) 100vw, (max-width: 1280px) 50vw, 640px"'
            render 'lazy-image', image: section.settings.map_image.src, alt: article.title, sizes: sizes
          endif
        -%}
      </div>

    {%- endif -%}

    {%- if store_blocks -%}

      <store-selector id="StoreSelector" class="store-selector"
        {% if single_store %} data-single-store {% endif %}
        data-map-selector="map-{{ section.id }}"
      >
        <div class="store-selector-list">
          {{ store_blocks }}
        </div>

      </store-selector>

      <script src="{{ 'component-store-selector.js' | asset_url }}" defer></script>

    {%- endif -%}

  </div>

</div>

{% schema %}
  {
    "name": "t:sections.local-extra-words.sections.stores-map.name",
    "class": "mount-map mount-css-slider",
    "settings": [
      {
        "type": "header",
        "content": "t:local-march-update.labels.heading"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "t:sections.local-extra-words.sections.headings.heading",
        "default": "Find Us"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "t:sections.local-extra-words.sections.headings.subheading",
        "default": "Check our stores on a map"
      },
      {
        "type": "select",
        "id": "section_heading_layout",
        "label": "t:sections.rich-text.settings.text_alignment.label",
        "options": [
          {
            "value": "section-heading--left",
            "label": "t:sections.rich-text.settings.text_alignment.options__1.label"
          },
          {
            "value": "section-heading--center",
            "label": "t:sections.rich-text.settings.text_alignment.options__2.label"
          }
        ],
        "default": "section-heading--left"
      },
      {
        "type": "header",
        "content": "t:sections.local-extra-words.sections.stores-map.name"
      },
      {
        "type": "checkbox",
        "id": "map_enable",
        "label": "t:sections.local-extra-words.sections.store-selector.settings.map.label",
        "info": "t:sections.local-extra-words.sections.store-selector.settings.map.info",
        "default": false
      },
      {
        "type": "range",
        "id": "map_zoom",
        "label": "t:sections.local-extra-words.sections.store-selector.settings.zoom.label",
        "min": 2,
        "max": 19,
        "step": 1,
        "default": 16,
        "info": "t:sections.local-extra-words.sections.store-selector.settings.zoom.info"
      },
      {
        "type": "select",
        "id": "map_style",
        "label": "t:sections.local-extra-words.sections.store-selector.blocks.map.settings.style.label",
        "options": [
          {
            "value": "standard",
            "label": "t:sections.local-extra-words.sections.store-selector.blocks.map.settings.style.option__1"
          },
          {
            "value": "silver",
            "label": "t:sections.local-extra-words.sections.store-selector.blocks.map.settings.style.option__2"
          },
          {
            "value": "retro",
            "label": "t:sections.local-extra-words.sections.store-selector.blocks.map.settings.style.option__3"
          },
          {
            "value": "dark",
            "label": "t:sections.local-extra-words.sections.store-selector.blocks.map.settings.style.option__4"
          },
          {
            "value": "night",
            "label": "t:sections.local-extra-words.sections.store-selector.blocks.map.settings.style.option__5"
          },
          {
            "value": "aubergine",
            "label": "t:sections.local-extra-words.sections.store-selector.blocks.map.settings.style.option__6"
          }
        ],
        "default": "standard"
      },
      {
        "type": "image_picker",
        "id": "map_image",
        "label": "t:sections.local-extra-words.sections.store-selector.blocks.map.settings.image.label",
        "info": "t:sections.local-extra-words.sections.store-selector.blocks.map.settings.image.info"
      },
      {
        "type": "header",
        "content": "t:sections.refactor_words.seo.name"
      },
      {
        "type": "select",
        "id": "seo_h_tag",
        "label": "t:sections.refactor_words.seo.label",
        "info": "t:sections.refactor_words.seo.info",
        "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3"
          },
          {
            "value": "h4",
            "label": "H4"
          },
          {
            "value": "span",
            "label": "span"
          }
        ],
        "default": "h2"
      }
    ],
    "blocks": [
      {
        "type": "store",
        "name": "t:sections.local-extra-words.sections.store-selector.blocks.store.name",
        "settings": [
          {
            "type": "text",
            "id": "store_name",
            "label": "t:sections.local-extra-words.sections.store-selector.blocks.store.settings.name.label",
            "default": "My Store"
          },
          {
            "type": "richtext",
            "id": "store_address",
            "label": "t:sections.local-extra-words.sections.store-selector.blocks.store.settings.address.label",
            "default": "<p>123 John Doe Street<br\/>Your Town, YT 12345<\/p><p> <\/p><p><strong>Store Hours<br\/><\/strong>Sun: Closed<br\/>Mon-Fri: 9:00 - 17:00<br\/>Sat: 10:00 - 13:00<\/p>"
          },
          {
            "type": "header",
            "content": "t:sections.local-extra-words.sections.stores-map.settings.gallery.title"
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "t:sections.images.label_1"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "t:sections.images.label_2"
          },
          {
            "type": "image_picker",
            "id": "image_3",
            "label": "t:sections.images.label_3"
          },
          {
            "type": "select",
            "id": "image_aspect_ratio",
            "label": "t:settings_schema.product-grid.settings.aspect_ratio.label",
            "options": [
              {
                "value": "1.5",
                "label": "t:sections.local-extra-words.settings_schema.aspect_ratio.landscape.label"
              },
              {
                "value": "1.33333",
                "label": "t:sections.gallery.settings.aspect_ratio.options__1.label"
              },
              {
                "value": "1",
                "label": "t:sections.gallery.settings.aspect_ratio.options__2.label"
              },
              {
                "value": "0.83333",
                "label": "t:sections.gallery.settings.aspect_ratio.options__3.label"
              },
              {
                "value": "0.666667",
                "label": "t:sections.gallery.settings.aspect_ratio.options__4.label"
              }
            ],
            "default": "1.33333"
          },
          {
            "type": "header",
            "content": "t:sections.local-extra-words.sections.store-selector.blocks.store.settings.map.name"
          },
          {
            "type": "paragraph",
            "content": "t:sections.local-extra-words.sections.store-selector.blocks.store.settings.map.info"
          },
          {
            "type": "text",
            "id": "store_map_latitude",
            "label": "t:sections.local-extra-words.sections.store-selector.blocks.store.settings.map_latitude.label",
            "info": "t:sections.local-extra-words.sections.store-selector.blocks.store.settings.map_latitude.info",
            "default": "46.7834818"
          },
          {
            "type": "text",
            "id": "store_map_longitude",
            "label": "t:sections.local-extra-words.sections.store-selector.blocks.store.settings.map_longitude.label",
            "info": "t:sections.local-extra-words.sections.store-selector.blocks.store.settings.map_longitude.info",
            "default": "23.5464733"
          },
          {
            "type": "image_picker",
            "id": "store_map_pin",
            "label": "t:sections.local-extra-words.sections.store-selector.blocks.store.settings.map_pin.label",
            "info": "t:sections.local-extra-words.sections.store-selector.blocks.store.settings.map_pin.info"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.local-extra-words.sections.stores-map.name",
        "blocks": [{
          "type": "store"
        }]
      }
    ]
  }
{% endschema %}